{%  extends 'base.html' %}

{%block title_head %}
<title>Libros</title>
{% endblock title_head %}

{%block h1_header %}
Listado de Libros
{% endblock h1_header %}

{%block contenido %}
<button>
    <a class="navbar-brand" href={% url 'inicio:crear_libro' %}>Agrear Libro</a>
</button>

{% comment %} <form action= "" method="get">
    {{formulario}}
    <button>Buscar</button> 
</form> {% endcomment %}

<form action={% url 'inicio:lista_libros' %}>
    <table>
      {{formulario}}
    </table>
    <button>Buscar</button> 
</form>

{%if Libros%} 
{%for Libro in Libros%}
{% comment %} <li>Titulo: {{Libro.titulo}} - Autor: {{Libro.autor}} - Editorial: {{Libro.editorial}}</li> {% endcomment %}
<li>
    {% comment %} {{Libro}} {% endcomment %}
    <a class="navbar-brand" href={% url 'inicio:detalle_libros' Libro.id %}>{{Libro}}</a>
    <button>
    <a class="navbar-brand" href={% url 'inicio:modificar_libros' Libro.id %}>Modificar</a>
    </button> 
    <button>
    <a class="navbar-brand" href={% url 'inicio:eliminar_libros' Libro.id %}>Eliminar</a>
    </button> 
</li>
{% endfor %}
{%else%}
<p>No Hay Datos Que Coincidan Con La Busqueda</p> 
{% endif %} 
{% endblock contenido %}
